<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lena Groeger</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://lenagroeger.s3.amazonaws.com/images/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Cambo' rel='stylesheet' type='text/css'>



  <link type="text/css" rel="stylesheet" media="all" href="/blog/css/default.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>

  <body>
    <div id="header">
  <div class="transparent">
    <div class="nav">
    <a class="back_button" href="/"><span class="backarrow"></span><span>Back</span></a>

    <ul>
      <li><a href="http://www.lenagroeger.com/">LENA GROGER</a></li>
      <li><a href="http://www.lenagroeger.com/#about">About</a></li>
      <li><a href="http://www.lenagroeger.com/#work">Work</a></li>
      <li class="selected"><a href="http://www.lenagroegeretc.com">Blog</a></li>
      <li><a href="http://www.lenagroeger.com/#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>


	<div class="container">
		{{ content }}
	 </div>
	{% include footer.html %}


  </body>
</html>
