<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lena Groeger</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://lenagroeger.s3.amazonaws.com/images/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Cambo' rel='stylesheet' type='text/css'>

  <link type="text/css" rel="stylesheet" media="all" href="/css/default.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="http://fuelcdn.com/fuelux/2.2/loader.min.js" type="text/javascript"></script>
</head>


<body>
  {% include navigation.html %}


  <div class="container">

  		{{ content }}
  </div>
    {% include footer.html %}


<!--  <footer class="footer">
  <div class="pagination deets">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
</footer>
 -->



  </body>
</html>
